<div class="lesson-content">
	<mat-card>
		<mat-card-title>
			{{ lesson.data().title }}
		</mat-card-title>
		<mat-card-content>
			<p>{{ bio }}</p>
		</mat-card-content>
	</mat-card>
	<mat-card>
		<mat-card-header>
			<mat-card-title>
				{{ lesson.data().example }}
			</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<p>{{ lesson.data().description }}</p>
		</mat-card-content>
	</mat-card>
	<mat-card class="editor-card" *ngIf="lesson.data().isExercise">
		<mat-card-content>
			<div contenteditable="true" class="code-editor">{{ lesson.data().exercise }}</div>
			<!-- <app-ce (getCode)="getCode(code)" [lesson]="lesson"></app-ce> -->
		</mat-card-content>
		<mat-card-actions align="end">
			<button mat-raised-button disabled color="primary">Run</button>
			<button mat-raised-button color="accent" (click)="getCode()" >Submit</button>
		</mat-card-actions>
	</mat-card>
</div>
